@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  background: rgb(245 245 244 )
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px 5px grey;
  background: rgb(245 245 244 );
  border-radius: 99px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 99px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}